<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otaku.mapper.ProdPropValueMapper">
  <resultMap id="BaseResultMap" type="com.otaku.domain.ProdPropValue">
    <!--@mbg.generated-->
    <!--@Table prod_prop_value-->
    <id column="value_id" jdbcType="BIGINT" property="valueId" />
    <result column="prop_value" jdbcType="VARCHAR" property="propValue" />
    <result column="prop_id" jdbcType="BIGINT" property="propId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    value_id, prop_value, prop_id
  </sql>
</mapper>