<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otaku.mapper.ProdCommMapper">
  <resultMap id="BaseResultMap" type="com.otaku.domain.ProdComm">
    <!--@mbg.generated-->
    <!--@Table prod_comm-->
    <id column="prod_comm_id" jdbcType="BIGINT" property="prodCommId" />
    <result column="prod_id" jdbcType="BIGINT" property="prodId" />
    <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
    <result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_sts" jdbcType="INTEGER" property="replySts" />
    <result column="postip" jdbcType="VARCHAR" property="postip" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="useful_counts" jdbcType="INTEGER" property="usefulCounts" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="is_anonymous" jdbcType="INTEGER" property="isAnonymous" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="evaluate" jdbcType="TINYINT" property="evaluate" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    prod_comm_id, prod_id, prod_name, order_item_id, open_id, content, reply_content, 
    create_time, reply_time, reply_sts, postip, score, useful_counts, pics, is_anonymous, 
    `status`, evaluate, shop_id
  </sql>
</mapper>